{{ partial "header" . }}
{{ partial "logo" . }}
{{ partial "navbar" . }}
    <!-- Main -->
    <div id="main">
        <div class="inner">
                            <header>
                                <h1>{{ .Site.Params.headline }}</h1>
                                <p>{{ .Site.Params.description }}</p>
                            </header>
                            <section class="tiles">                               {{ $.Scratch.Set "classCounter" 1}}
                                {{ range first 6 .Data.Pages }}
                                <article class="style{{ $.Scratch.Get "classCounter" }}">
                                    <span class="image">
                                        <img src="{{ .Params.image }}" alt="" />
                                    </span>
                                    <a href="{{ .Permalink }}">
                                        <h2>{{ .Title }} </h2>
                                        <div class="content">
                                            <p>{{ .Description }}</p>
                                        </div>
                                    </a>
                                </article>
                                {{ $.Scratch.Add "classCounter" 1 }}
                                {{ end }}
                            </section>
                            <div style="padding:4ex;">
                            <p class="align-center">
                            <a class="button special fit" href="/post/">Weitere Beiträge</a>
                            </p>
                            </div>
                        </div>
    </div>
{{ partial "footer" . }}
